body {
    background-image: url(/img/Main\ Background.jpg);
    background-size: cover;
    background-repeat: no-repeat;
}

.flex-container {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    background-color: black;
    opacity: 0.8;
}

.about:hover {
    color: rgb(84, 84, 255);
}

.protfoloio:hover {
    color: rgb(84, 84, 255);
}

.contact:hover {
    color: rgb(84, 84, 255);
}

.services:hover {
    color: rgb(84, 84, 255);
}

.account:hover {
    color: rgb(84, 84, 255);
}

.home,
.about,
.services,
.protfoloio,.account {
    padding-left: 40px;
    color: white;
    padding-top: 30px;
}



.account {
    color: rgb(84, 84, 255);
}

.imgLink {
    padding: 10px 0px 0px 40px;
    margin: 0;
    width: 100px;
    height: 70px;
}

#home,
#about,
#services,
#protfoloio,
#blog,
#carrer,
#download,
#contact,#account {
    display: contents;
}

.fa-linkedin,
.fa-twitter,
.fa-whatsapp,
.fa-facebook,
.fa-instagram,
.fa-google {
    padding: 28px 0px 0px 35px;
    font-size: 20px;

    color: white;
}

#logo {
    padding-left: 490px;
}

#side {
    padding-left: 100px;
}

#services {
    color: white;
}

#dropDown {
    background-color: rgba(0, 0, 0, 0.35);
}

#colorOfDropdown {
    color: white;
}

#colorOfDropdown:hover {
    background-color: black;
}

/* Contact us */
section {
    padding: 1rem;
    background-color: #fff;
    margin-bottom: 1rem;
    border-radius: 5px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    opacity: 0.8;
}

ul {
    list-style: none;
    padding: 0;
}

li {
    padding: 0.5rem 0;
}